@CHARSET "UTF-8";
.weibo
{
	padding:10px 0 10px;
}
#logo
{
    width: 122px;
    background-image: url('http://img4.cache.netease.com/www/v2013/img/bg_sprites_v4.png');
    background-position: top left;
    height: 38px;
    display: block;
}
#head-search
{
	margin-bottom: 0;
}
#head-ad
{
	display: block;
	height: 60px;
	border: 1px solid #999;
}
#head-box-shard
{
	margin-top:0;
	border:0;
	border-top: 4px solid #555;
}
.box-border-top
{
	/*需要处理*/
	height:230px;
	border-top:2px solid #555;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
.box-border-top .box-title
{
	background-color: #DCDCDC;
}
.box-border-top .box-title span
{
	margin-left:10px;
	height:30px;
	line-height:30px;
}
.floors
{
	margin-top:20px;
	border-top:3px solid;
	/* height:300px; */
}
.floors h4
{
	float:left;
}
.floor1
{
	border-color:#ff9900;
	color:#ff9900;
}
.floor2
{
	border-color:#dd9900;
	color:#dd9900;
}
.floor3
{
	border-color:#cc9900;
	color:#cc9900;
}
.floor4
{
	border-color:#999900;
	color:#999900;
}
.floor5
{
	border-color:#779900;
	color:#779900;
}
.floor6
{
	border-color:#559900;
	color:#559900;
}
.floor7
{
	border-color:#339900;
	color:#339900;
}
.floor8
{
	border-color:#119900;
	color:#119900;
}